.main-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 96%;
}

.container {
    min-width: 1000px;
    width: 100%;
    padding: 10px 10px;
    background: var(--base-on-background, #FFF);
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid var(--base-line-light, #EDEEF3);
}
.listCard{
    width: 950px;
    
}
.addCategory{
    display: flex;
    width: 490px;

    flex-direction: column;
    gap: 20px;
}
.btnSubmit{
    padding: 8px 23px;
    font-size: 22px;
    margin-top: 20px;
    height:50px;
}